accelerate==0.17.1
basicsr
blendmodes
clean-fid
einops
font-roboto
fonts
gfpgan
GitPython
gradio==3.16.2
inflection
invisible-watermark
jsonmerge
kornia
lark
numpy
omegaconf
opencv-contrib-python
piexif
Pillow
psutil
pytorch_lightning==1.7.7
realesrgan
requests
resize-right
safetensors
scikit-image>=0.19
timm==0.4.12
torch
torchdiffeq
torchsde
transformers~=4.27.1