#!/bin/bash
install_dir="/sdui"
export COMMANDLINE_ARGS="--port 4206 --xformers --listen --enable-insecure-extension-access --gradio-auth dragon:ballz --disable-console-progressbars"
venv_dir="/workspace/venv"

export REQS_FILE="./extensions/sd_dreambooth_extension/requirements.txt"

